@model List<PizzaViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem de Pizzas</h2>

<a href="/pizza/create"> Novo Negistro </a>
<br />

<table class="table table-responsive">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Descrição</th>
        <th>Sabores</th>

    </tr>

    @foreach (var pizza in Model)
    {
        <tr>
            <th>
                <a href="/Pizza/Edit?id=@pizza.id">editar</a>
                <a href="javascript:Delete(@pizza.id)">apagar</a>
            </th>
            <th>@pizza.id</th>
            <th>@pizza.descricao</th>
            <th><a href="/IngredientesPizza/ListaIngredientes?pizzaId=@pizza.id&descricaoPizza=@pizza.descricao">Visualizar</a></th>

        </tr>


    }
</table>

<script>
    function Delete(id) {
        if (confirm("Confirmar a exclusão do registro?")) {
            location.href = "pizza/Delete?Id=" + id;
        }
    }
</script>
