@model List<IngredientesPizzaViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>Ingredientes de Pizza @ViewBag.descricaoPizza</h2>

<button><a href="/IngredientesPizza/CriarIngrediente?pizzaId=@ViewBag.pizzaId&descricaoPizza=@ViewBag.descricaoPizza"> Novo Negistro </a></button>
<br />
<br />

<button>
    <a href="/Pizza/index"> Retornar </a>
</button>
<br />

<table class="table table-responsive">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Descrição</th>

    </tr>

    @foreach (var ingredientesPizza in Model)
    {
        if (ViewBag.pizzaId == ingredientesPizza.pizzaId)
        {
            <tr>
                <th>
                    <a href="/IngredientesPizza/Edit?id=@ingredientesPizza.id&pizzaId=@ViewBag.pizzaId&descricao=@ViewBag.descricao">editar</a>
                    <a href="javascript:Delete(@ingredientesPizza.id)">apagar</a>
                </th>
                <th>@ingredientesPizza.id</th>
                <th>@ingredientesPizza.descricao</th>

            </tr>
        }



    }
</table>

<script>
    function Delete(id) {
        if (confirm("Confirmar a exclusão do registro?")) {
            location.href = "Delete?Id=" + id;
        }
    }
</script>
