@model List<IngredientesPizzaViewModel>
@{
    string? descricao;
    int? pizzaId;

    Layout = "~/Views/Shared/_Layout.cshtml";

    descricao = Context.Request.Query["descricao"];
    pizzaId = int.Parse(Context.Request.Query["pizzaId"]);


}

<h2>Ingredientes de Pizza @descricao</h2> 

<button><a href="/IngredientesPizza/create?pizzaId=@pizzaId&descricao=@descricao"> Novo Negistro </a></button>
<br />
<br />

<button>
    <a href="/Pizza/index"> Retornar </a>
</button>
<br />

<table class="table table-responsive">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Descrição</th>

    </tr>

    @foreach (var ingredientesPizza in Model)
    {
        if(pizzaId == ingredientesPizza.pizzaId){
            <tr>
                <th>
                    <a href="/IngredientesPizza/Edit?id=@ingredientesPizza.id&pizzaId=@pizzaId&descricao=@descricao">editar</a>
                    <a href="javascript:Delete(@ingredientesPizza.id)">apagar</a>
                </th>
                <th>@ingredientesPizza.id</th>
                <th>@ingredientesPizza.descricao</th>

            </tr>
        }



    }
</table>

<script>
    function Delete(id) {
        if (confirm("Confirmar a exclusão do registro?")) {
            location.href = "IngredientesPizza/Delete?Id=" + id;
        }
    }
</script>
